.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  /* font-weight: 300; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  /* The image used */
  background-image: url(../public/chriswebsite6.png);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.computercage{
  width: 100vw;
}

.signin {
  position: absolute;

}

.resume {
  position: absolute;

}
.message{
  font-weight: bold ;
  width: 100%;
  animation: shakemessage 15s;
  animation-iteration-count: infinite;
}
.hello{
  font-weight: bold ;
  -webkit-text-stroke: 2px black;
  position: absolute;
  top: 100px;
  left: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 120%;
  background: url("../public/fogy5.png") repeat;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  animation: shake 4s;
  animation-iteration-count: infinite;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 120%;
  background: url("../public/fogy5.png") repeat;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  animation: shake2 10s;
  animation-iteration-count: infinite;
}



@keyframes shake {
  0% { transform: translate(0px, 0px)  }
  50% { transform: translate(10px, 0px) }
  100% { transform: translate(0px, 0px)  }
}

@keyframes shake2 {
  0% { transform: translate(0px, 0px)  }
  50% { transform: translate(-50px, 0px) }
  100% { transform: translate(0px, 0px)  }
}

@keyframes shakemessage {
  0% { transform: translate(0px, 0px)  }
  8% { transform: translate(0px, -12px)  }
  35% { transform: translate(0px, 8px)  }
  100% { transform: translate(0px, 0px)  }
}



/* /////////////////////// */
.half-circle-spinner, .half-circle-spinner * {
  box-sizing: border-box;
}

.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #00FFFF;
  animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #00FFFF;
  animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
  0% {
    transform: rotate(0deg);

  }
  100%{
    transform: rotate(360deg);
  }
}

/* /////////////////////////////// */



/* /////////////////////////////// */
/* button stuff */
/* main {
	animation: rotateAngle 6s;
  animation-iteration-count: infinite;
}

button {
	display: block;
	position: relative;
	margin: 0.5em 0;
	padding: .8em 2.2em;
	cursor: pointer;
	background: #ffffff;
	border: none;
	border-radius: .4em;
	text-transform: uppercase;
	font-size: 1.4em;
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	letter-spacing: 0.04em;

	perspective: 500px;
	transform-style: preserve-3d;
}

button:before, button:after {
	--z: 0px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	opacity: 0;
	mix-blend-mode: inherit;
	border-radius: inherit;
	transform-style: preserve-3d;
	transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}

button span {
	mix-blend-mode: none;
	display: block;
  mix-blend-mode: color-dodge;
}

button:after {
	background-color: #2465a6;
  mix-blend-mode: color-dodge;
}

button:before {
	background-color: #2e6164;
  mix-blend-mode: color-dodge;
}

button:hover {
	background-color: #aeb8df;
  mix-blend-mode: color-dodge;
	transition: background .3s 0.1s;
}

button:hover:before {
  mix-blend-mode: color-dodge;
	--z: 0.04;
	animation: translateWobble 2.2s ease forwards;
}

button:hover:after {
  mix-blend-mode: color-dodge;
	--z: -0.06;
	animation: translateWobble 2.2s ease forwards;
}



@keyframes translateWobble {
	0% {
		opacity: 0;
		transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
	}

	16% {
		transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
	}

	28% {
		opacity: 1;
		transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
	}

	44% {
		transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
	}

	59% {
		transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
	}

	73% {
		transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
	}

	88% {
		opacity: 1;
		transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
	}

	100% {
		opacity: 1;
		transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
	}
} */

/* /////////////////////////////// */