.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  /* font-weight: 300; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  /* The image used */
  background-image: url(../public/chriswebsite4.png);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.computercage{
  width: 100vw;
}

.signin {
  position: absolute;
  bottom: 100px;

}

.resume {
  position: absolute;
  bottom: 100px;

}
.message{
  font-weight: bold ;
  width: 90%;

}
.hello{
  font-weight: bold ;
  -webkit-text-stroke: 2px black;
  position: absolute;
  top: 100px;
  left: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 120%;
  background: url("../public/fogy5.png") repeat;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  animation: shake 2s;
  animation-iteration-count: infinite;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 120%;
  background: url("../public/fogy5.png") repeat;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  animation: shake2 10s;
  animation-iteration-count: infinite;
}



@keyframes shake {
  0% { transform: translate(0px, 0px)  }
  50% { transform: translate(10px, 0px) }
  100% { transform: translate(0px, 0px)  }
}

@keyframes shake2 {
  0% { transform: translate(0px, 0px)  }
  50% { transform: translate(-50px, 0px) }
  100% { transform: translate(0px, 0px)  }
}
/* /////////////////////////////// */


/* /////////////////////////////// */